DJANGO_SECRET_KEY=pon-aqui-una-clave-segura
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,www.vitalmix.com.co,vitalmix.com.co
DJANGO_CSRF_TRUSTED_ORIGINS=https://www.vitalmix.com.co,https://vitalmix.com.co

# Base de datos
# Para desarrollo local, deja DB_ENGINE vacío o usa "sqlite"
# Para producción, usa "postgresql"
DB_ENGINE=postgresql
DB_NAME=binabot
DB_USER=postgres
DB_PASSWORD=tu-password-postgres
DB_HOST=localhost
DB_PORT=5432

DERIV_API_TOKEN=
DERIV_ACCOUNT_ID=
DERIV_APP_ID=1089

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+123456789
WHATSAPP_NUMEROS_ALERTA=+573158353029,+573117451274

